h1 {
	color: blue;
}
body {
	background-color: antiquewhite;
}
p {
	color: red;
}
.center {
	width: 100%;
	margin: auto;
	text-align: center;
}
.border {
	border: 10px ridge gold;
	width: 100px;
	float: right;
}
.about {
	background-color: gold;
}



